$MdiCssPrefix         ?= 'mdi';

$MdiIconBeforePrefix  ?= 'mdil';
$MdiIconAfterPrefix   ?= 'mdir';

$MdiFontSize          ?=  16px;
$MdiLineHeight        ?=  16px;

$MdiFilename          ?=  "materialdesignicons-webfont";
$MdiFontPath          ?=  "../fonts/";

$__MdiFontName      =  "Material Design Icons";
$__MdiFontFamily    =  "materialdesignicons";
$__MdiFontWeight    =  "regular";
$__MdiVersion       =  "2.1.19";